<table class="table">
  <thead>
    <tr>
      <td><a routerLink="/books/create">Create</a></td>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; index as i">
      <th scope="row">{{i+1}}</th>
      <td><a routerLink="/books/detail/{{book.id}}">{{book.title}}</a></td>
      <td>{{book.author}}</td>
      <td>{{book.description}}</td>
      <td><a routerLink="/books/update/{{book.id}}">Update</a></td>
      <td><button (click)="deleteBook(book.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
